<h1>SHOW To Do</h1>
<br>
    <div class="conteiner">
    <%=@todo.description %>
    <%if @todo.completed %>
        <p> 'tarea completada' <p>
        <%else %>
          <p> 'tarea pendiente' <p>
        <% end %>
        </div>

        <br>
        <%=link_to 'back', todos_path, class: 'btn btn-primary' %>
        <br>